<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Mates</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    {{!-- Render the top main nav bar --}}
    <header class=" header bg-primary display-flex justify-space-between align-center p-5">
      <h1>
        Movie Mates!
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->   
        <button class="btn btn-light" id="home">
          <a href="/">Home</a>
        </button>
        
        {{#if logged_in}}
        <button class="btn btn-light" id="Dashboard">
          <a href="/api/dashboard">Dashboard</a>
        </button>

        <button class="btn btn-light" id="logout-btn">
          <a href="/login">Logout</a>
        </button>

        <button class="btn btn-light" id="chat">
          <a href="http://localhost:8080">Chat</a>
        </button>

        {{else}}

        <button class="btn btn-light" id="login">
          <a href="/login">Login</a>
        </button>

        {{/if}}

      </nav>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
