{{!-- Brings up single movie for review;
From here we can add review to selected movie --}}
{{#if newPost}}
<div id="posterContainer" class="loadPoster"></div>
{{/if}}

<!--If editing a review, poster will not show-->

<div class="container">
  <h2><u>
    {{#if newPost}}
    Post New Review
    {{/if}}
    {{#if editPost}}
    Edit Current Review
    {{/if}}
 </u></h2>

  {{#if newPost}}
    <form class="form newPost-form">
  {{/if}}
  {{#if editPost}}
    <form class="form updatePost-form" data-id="{{id}}">
  {{/if}}
    <div class="form-group">
      <label for="title">Review Title:</label>
      <input class="form-input" type="text" id="post-title"
      {{#if editPost}}
      value="{{title}}"
      {{/if}}
      >
    </div>
    <div class="form-group">
      <label for="content">Review Content:</label>
      <textarea class="form-input" type="text" id="post-content" rows="5" cols="50">
        {{#if editPost}}
        {{post_content}}
        {{/if}}
      </textarea>
      
    </div>
    {{#if newPost}}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        Submit Review!
      </button>
    </div>
    {{/if}}

    {{#if editPost}}
    <div class="flex-row">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Update Review
        </button>
      </div>

      <button class="btn btn-danger" data-id="{{movies.id}}" id="delete-btn">
        Delete
      </button>
    </div>
    {{/if}}
  </form>
</div> 

{{#if newPost}}
<script src="/js/newPost.js"></script>
<script src="/js/loadForm.js"></script>
{{/if}}

{{#if editPost}}
<script src="/js/updatePost.js"></script>
<!--Not sure yet if this works in edit post <script src="/js/loadForm.js"></script>-->
{{/if}}
